<ion-header>
  <ion-toolbar>
    
    <div class="Background">
      <ion-img  [src]="this?.backgroundImage"></ion-img>
    </div>

    <div class="buttons">
      <ion-img (click)="action()" [src] = "this?.buttonImage" ></ion-img>
    </div>

    <div class="album-image">
      <img *ngIf="!this?.albumImage" [src]="this?.DEFAULT_IMAGE" alt="">
      <img *ngIf="this?.albumImage" [src]="this?.albumImage" alt="">
    </div>

    <div class="audio-wrapper" id="player-container" href="javascript:;">
      <audio preload="metadata" (loadedmetadata)="control($event)" (timeupdate)="update()" name="media"
        #audioPlayer>
        <source [src]="URL" type="audio/mpeg">
      </audio>
    </div>

    <div class="info">
      <ion-text class="Tiulo" style="font-weight: 700;"[innerHTML]="this.songName"></ion-text>
      <br>
      <ion-text class="Artista" [innerHTML]="artistName"></ion-text>
    </div>

  </ion-toolbar>
  
  <ion-progress-bar [value]="progress"> </ion-progress-bar>


</ion-header>