ion-toolbar{
  background: #0F385A;
}


/*
.hydrated{
  color:#A6CE38;
  font-size: small;
  text-align: left;
}

*/
.Title{
  color:#A6CE38;
  font-size: small;
  text-align: left;
  
}
.toolbar{
  --background:#0F385A !important;
  font-size: smaller;
  text-align: left;
}

ion-title{
  -webkit-padding-start: 5px;
  padding-inline-start: 5px;
}


.content {
  margin: 2%;
  color: #0F385A;
  font-size: medium;
  text-align: left;
}

div img{
  margin: 0 auto;
}

.content {
  p {
    padding: 1%;
  }
  strong {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  a{
      text-decoration: none;
      color: #2c86ec ;
  }
}

