ion-toolbar{
  background: #0F385A;
}

.hydrated{
  color:#A6CE38;
  font-size: small;
  text-align: left;
}

.toolbar{
  --background:#0F385A !important;
  font-size: small;
  text-align: left;
}

ion-title{
  -webkit-padding-start: 5px;
  padding-inline-start: 0.2%;
}


.content {
  margin: 2%;
}

.content {
  p {
    padding: 1%;
  }
  strong {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  p img {
    transform: translate(50%,0);
  }
  h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  a{
      text-decoration: none;
      color: #2c86ec ;
  }
}

