<app-header></app-header>
<ion-content [fullscreen]="true">
  <div *ngFor="let post of news">
    <ion-card>
      <img src="./madison.jpg" />
      <ion-card-header>
        <ion-card-subtitle>{{ post.title.date }}</ion-card-subtitle>
        <ion-card-title>{{ post.title.rendered }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ post.excerpt.rendered }}
      </ion-card-content>
    </ion-card>    <h1></h1>
  </div>




  <div id="contentIcon">
    <button (click)="previousPage()">
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
    </button>

    <button (click)="nextPage()">
      <ion-icon name="arrow-forward-circle-outline" font-size="100px"></ion-icon>
    </button>
  </div>
</ion-content>