<app-header></app-header>
<ion-content [fullscreen]="true">
  <div *ngFor="let post of news">
    <mat-card>{{ post.title.rendered }}</mat-card>
  </div>

  <div id="contentIcon">       
        <button [disabled]="prevDisable" mat-raised-button color="primary" (click)="previousPage()" id="previous" >Anterior</button>                    
        <button [disabled]="nextDisable" mat-raised-button color="primary" (click)="nextPage()" id="next">Siguiente</button>                
  </div>
</ion-content>